<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
<listeners>
<listener class-name="Practiceframework.TestComponents.Listerners.java"/>
</listeners>

  <test thread-count="5" name="Testing NewTestCase">
    <classes>
      <class name="Practiceframework.Project1.NewTestCase"/>
    </classes>
  </test> <!-- Test -->
 
 <test thread-count="5" name="Testing JustPractice">
    <classes>
      <class name="Practiceframework.Project1.TestforPractice"/>
    </classes>
  </test> <!-- Test --> 
  
</suite> <!-- Project1 -->
